
#header {
    background-color: #4267b2 ;
}

.main , .menu, .sidebar{
  height:550px;
}

.main{
        background-color: #e9ebee;
}
.menu::-webkit-scrollbar {
    display: none;
}
.menu{
        background-color: #e9ebee;
          overflow: auto;
}
.sidebar{
        background-color: #e9ebee;`
}
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}
.white-text{
  color: white !important;
}
#header ul .glyphicon {
    font-size: 20px;
}

.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
.comment{
  margin: 0;
}
#search-icon{
	margin-left:-7px;
}
#image-icon{
	height:30px;
	width:30px;
	display:inline-block;
}
.badge{
   float:right;
}
.form-group{
	border:none;
}
.glyphicon-search{
	color:grey !important;
}
.glyphicon{
	color:rgba(0,0,0,0.5);
}
.glyphicon:hover{
	color:rgba(0,0,0,1);
}